In [13]:
import numpy as np
import pandas as pd
import os
import sys
from pathlib import Path
from datetime import datetime, timezone, timedelta
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
# CONSTANTS
path = os.getcwd()   
DATA_DIR = os.path.abspath(os.path.join(path, os.pardir, "data"))
MOVIE_LENS_DIR = os.path.abspath(os.path.join(path,  os.pardir, "data", "movie_lense"))
NETFLIX_DIR = os.path.abspath(os.path.join(path,  os.pardir, "data", "netflix"))
MOVIE_DIR = os.path.abspath(os.path.join(path,  os.pardir, "data", "ml-1m"))
print(DATA_DIR)

/Users/yunyangwang/Documents/CitadelDatathon2020/data

In [23]:
users_df = pd.read_csv(os.path.join(MOVIE_DIR, "users.dat"), header=None, names=["userid", "sex", "age", "occupation", "zipcode"], delimiter= "::")

industry_df = pd.read_csv(os.path.join(DATA_DIR, "movie_industry.csv"), encoding='latin-1')
oscar_df = pd.read_csv(os.path.join(DATA_DIR, "the_oscar_award.csv"))
oscar_df = pd.read_csv(os.path.join(DATA_DIR, "Oscars-demographics-DFE.csv"))

score_df = pd.read_csv(os.path.join(MOVIE_LENS_DIR, "genome-scores.csv"))
genome_tag_df = pd.read_csv(os.path.join(MOVIE_LENS_DIR, "genome-tags.csv"))
ratings_df = pd.read_csv(os.path.join(MOVIE_LENS_DIR, "ratings.csv"))
movies_df = pd.read_csv(os.path.join(MOVIE_LENS_DIR, "movies.csv"))
tags_df = pd.read_csv(os.path.join(MOVIE_LENS_DIR, "tags.csv"))
links_df = pd.read_csv(os.path.join(MOVIE_LENS_DIR, "links.csv"))

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

         0  1   2   3      4
0        1  F   1  10  48067
1        2  M  56  16  70072
2        3  M  25  15  55117
3        4  M  45   7  02460
4        5  M  25  20  55455
...    ... ..  ..  ..    ...
6035  6036  F  25  15  32603
6036  6037  F  45   1  76006
6037  6038  F  56   1  14706
6038  6039  F  45   0  01060
6039  6040  M  25   6  11106

[6040 rows x 5 columns]